:root {
  --background: #fbfefb;
  --grid-background: #cacaca;
  --grid-lines: #4b1a50;
  --label-background: #00ff00;
  --font-on-background: #010203;
  --font-on-label: #010203;
  --hit: #e25822;
}

body,
html {
  background-color: var(--background);
}
h1 {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  display: flex;
  justify-content: center;
}
.box {
  height: 20px;
  width: 20px;
  border: 1px solid var(--grid-lines);
  text-align: center;
}

.grid {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 264px;
  margin-left: auto;
  margin-top: auto;
  background-color: var(--grid-background);
}

.board {
  display: grid;
  grid-template-columns: 1fr 13fr;
  grid-template-rows: 1fr 13fr;
  background-color: var(--label-background);
  width: 284px;
  height: 284px;
  border: 1px solid var(--grid-lines);
}

.gridlabeltop {
  grid-area: 1/2/2/3;
  display: flex;
  grid-template-rows: repeat(12, 1fr);
}

.gridlabeltop > .box,
.gridlabelleft > .box {
  border: 1px dashed var(--grid-lines);
}

.gridlabelleft {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  grid-template-rows: repeat(12, 1fr);
}

.occupiedalive {
  background-color: var(--grid-lines);
}

.occupiedhit {
  background-color: var(--hit);
}
